body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #333;
    background-color: #f9f9f9;
}


h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    font-size: 1.2em;
    color: #555;
}

h2 {
    font-size: 1.8em;
    color: #007acc;
    margin-bottom: 10px;
}


hr {
    margin: 20px 0;
    border: 0;
    height: 1px;
    background-color: #ccc;
}


section {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}


a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9em;
    color: #777;
}